body{
    font-family:'Raleway', sans-serif;
}
.navbar-brand{
    font-family:'Roboto', sans-serif;
}
.nav-item{
    color:white;
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color: #e6e6e6;
}
#body-box{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.container{
    margin:5%;
    padding:2%;
    border:2px solid black;
    width:40%;
    border-radius:5px;
}
.profile-container{
    margin:5%;
    padding:2%;
    border:2px solid black;
    width:40%;
    border-radius:5px;
    height:500px;
}
#commentText{
    height:500px;
    width:500px;
}
@media only screen and (max-width: 700px) {
    .container{
        width:100%;
    }
    .profile-container{
        height:400px;
    }
}
