body{
    font-family:'Raleway', sans-serif;
}
.navbar-brand{
    font-family:'Roboto', sans-serif;
}
#body-box{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
#body-box2{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
#meeting-box{
    margin-top:5%;
    margin-bottom:5%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding:2%;
    width:80%;
    box-shadow:0px 0px 5px black;
}
#homeNav{
    color:white;
}
#homeNav:hover{
    color:#e6e6e6;
}

#findMeetups{
    color:white;
}
#findMeetups:hover{
    color:#e6e6e6;
}
#navbarDropdown{
    color:white;
}

#navbarDropdown:hover{
    color:#e6e6e6;
}

#logoutNav{
    color:white;
}

#logoutNav:hover{
    color:#e6e6e6;
}

.container{
    margin:5%;
    padding:2%;
    border:2px solid black;
    width:40%;
    border-radius:5px;
}
.profile-container{
    margin:5%;
    padding:2%;
    border:2px solid black;
    width:40%;
    border-radius:5px;
    height:500px;
}
.meetups-container{
    border:2px solid black;
    border-radius:5px;
    padding:1%;
}
#commentText{
    height:500px;
    width:500px;
}
.comment-container{
    width:100%;
    border:2px solid black;
    border-radius:5px;
    padding:5%;
    margin-bottom:2%;

}
#meeting-buttons{
    display:flex;
    justify-content:space-around;
}
.comment{
    border-bottom:1px solid black;
}
@media only screen and (max-width: 700px) {
    .container{
        width:100%;
    }
    .profile-container{
        height:400px;
    }
}
