{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form id="meeting-creation-form" method="post" action="/create-meeting">
        <label for="meetupName">Meetup Name:</label>
        <input id = "meetupName" name="meetupName" class="form-control" placeholder="Enter Meetup Name">
        <label for="date">Meetup Date (In UTC):</label>
        <input id = "date" name="date" class="form-control" type="date">
        <label for="location">Meetup Location:</label>
        <input id = "location" name="location" class="form-control" placeholder="Enter Meetup Location">
        <p>Choose Preferences</p>
        <input type="checkbox" name="preferences" id="dnd" value="DnD">
        <label for="dnd">Dungeons and Dragons</label>
        <br>
        <input type="checkbox" name="preferences" id="ror2" value="RoR2">
        <label for="ror2">Risk of Rain 2</label>
        <br>
        <input type="checkbox" name="preferences" id="lol" value="LoL">
        <label for="lol">League of Legends</label>
        <br>
        <input type="checkbox" name="preferences" id="dota2" value="DOTA2">
        <label for="dota2">DotA 2</label>
        <br>
        <input type="checkbox" name="preferences" id="smite" value="Smite">
        <label for="smite">Smite</label>
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
    {% if createError %}
    <p class="alert alert-danger">Either the date for the meetup is before todays date or you did not provide information for all the fields</p>
    {% endif %}
</div>
{% endblock %}
