{% extends "base.html" %}
{% block body %}
<p> Name: {{meetupName}} </p>
<p> Preferences: {{preferences}}</p>
<p> Owner: {{owner}}</p>
<p> Attendees: </p>
{% for attendee in attendees %}
    <li> {{attendee}} </li>
{% else %}
    <p> There are no Attendees </p>
{% endfor %}
<br>
<p> Date: {{date}}</p>
<p> Location: {{location}} </p>
<p> Comments : {{comments}}</p> 
<a href="/joinmeeting/{{meetupName}}">
    <button type="button" class="btn btn-dark"> Join </button>
</a>
{% if joinError %}
<p class="alert alert-danger">You are already a part of this meetup.<p>
{% endif %}
{% endblock %}
