{% extends "base.html" %}
{% block body %}
<p> Name: {{meetupName}} </p>
<p> Preferences: {{preferences}}</p>
<p> Owner: {{owner}}</p>
<p> Attendees: </p>
{% for attendee in attendees %}
    <li> {{attendee}} </li>
{% else %}
    <p> There are no Attendees </p>
{% endfor %}
<br>
<p> Date: {{date}}</p>
<p> Location: {{location}} </p>
<p> Comments: </p> 
{% for comment in comments %}
    <p>{{comment.postBy}}</p>
    <p>{{comment.date}}</p>
    <p>{{comment.text}}</p>
{%else%} 
<p> No Comment Available </p>
{% endfor %}
<a href="/joinmeeting/{{meetupName}}">
    <button type="button" class="btn btn-dark"> Join </button>
</a>
<br>
<form method = "post" action = "/leaveMeetup/{{meetId}}">
    <br>
    <button type="submit" class="btn btn-dark"> Leave </button>
    <br>
</form>

    
{% if joinError %}
<p class="alert alert-danger">You are already a part of this meetup.<p>
{% endif %}
<form method = "post" action = "/comments/{{meetId}}">
    <label for="commentText">Make A Comment:</label>
    <br>
    <textarea id="commentText" name="commentText" placeholder="Enter your comment here"></textarea>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

