{% extends "base.html" %}
{% block body %}
<form action="/updateName" method="post" id="username">
    <label for="newName">New Username:</label>
    <input id="newName"type="text" class="form-control" placeholder="Enter new username" name="newName">
    <button class="btn btn-primary" type="submit">Save</button>
</form>

<form action="/updatePassword" method="post" id="password">
    <label for="newPassword">New Password:</label>
    <input type="text" class="form-control" placeholder="Enter new password" name="newPassword" id="newPassword">
    <button class="btn btn-primary" type="submit">Save</button>
</form>
<form action="/updateLocation" method="post" id="location">
    <label for="newLocation">New Location:</label>
    <input type="text" class="form-control" placeholder="Enter new location" name="newLocation" id="newLocation">
    <button class="btn btn-primary" type="submit">Save</button>
</form>
<form action="/updateEmail" method="post" id="email">
    <label for="newEmail">New Email:</label>
    <input type="email" class="form-control" placeholder="Enter new email" name="newEmail" id="newEmail">
    <button class="btn btn-primary" type="submit">Save</button>
</form>
<form action="/updatePreferences" method="post" id="preferences">
    <p>Choose Prefrences</p>
    <input type="checkbox" name="preferences" id="dnd" value="DnD">
    <label for="dnd">Dungeons and Dragons</label>
    <br>
    <input type="checkbox" name="preferences" id="ror2" value="RoR2">
    <label for="ror2">Risk of Rain 2</label>
    <br>
    <input type="checkbox" name="preferences" id="lol" value="LoL">
    <label for="lol">League of Legends</label>
    <br>
    <input type="checkbox" name="preferences" id="dota2" value="DOTA2">
    <label for="dota2">DotA 2</label>
    <br>
    <input type="checkbox" name="preferences" id="smite" value="Smite">
    <label for="smite">Smite</label>
    <br>
    <button class="btn btn-primary" type="submit">Save</button>
</form>
{% endblock %}
{% block scripts %}
    <script src = "/public/js/profile-edit.js"></script>
{% endblock %}
