{% extends "base.html" %}
{% block body %}
<div id="body-box">
    <div class="container">
    <h1>Login</h1>
    <form class="form-group" id="login-form" method="post" action="/login">
        <div class="form-group">
            <label for="loginUsername">Username: </label>
        	<input type="text" class="form-control" placeholder="Enter username" name="loginUsername" id="loginUsername">
        </div>
        <div class="form-group">
            <label for="loginPassword">Password: </label>
        	<input type="password" class="form-control" placeholder="Enter password" name="loginPassword" id="loginPassword">
        </div>
    	<button class="btn btn-dark" type="submit">Log In</button>
    </form>
    {% if loginError %}
    <p class="alert alert-danger">Invalid username or password.<p>
    {% endif %}
</div>

    <div class="container">
    <h1>Sign Up</h1>
    <form id="signup-form" method="post" action="/signup">
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" placeholder="Enter username" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" id="password">
        </div>
        <div class="form-group">
            <label for="location">Location: </label>
            <input type="text" class="form-control" placeholder="Enter location" name="location" id="location">
        </div>
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="email" class="form-control" placeholder="Enter email" name="email" id="email">
        </div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
    </form>
    {% if signupError %}
    <p class="alert alert-danger">Either the Username is taken or you did not input all the information</p>
    {% endif %}
    </div>
</div>
{% endblock %}
