{% extends "base.html" %}

{% block body %}
<div id="body-box">
{% for item in meetups %}
    <div class="meetups-container">
    <p>Name : {{item.meetupName}}</p>
    <p>Owner: {{item.owner}}</p>
    <p>Location: {{item.location}}</p>
    <p>Preferences: {{item.preferences}}</p>
    <form method="get" href="/meeting/{{item._id}}">
        <button type="button" class="btn btn-dark"> Details </button>
    </form>
    </div>
{% else %}
<p>There are no meetups that are in your location and have any of your prefrences.</p>
{% endfor %}
</div>

{% endblock %}
