{% extends 'base.html' %}
{% block body %}
<h1>Future Meetings</h1>
<div id="body-box">
{% for meeting in futureMeetings %}
<div class="meetups-container">
<p>Name : {{meeting.meetupName}}</p>
<p>Owner: {{meeting.owner}}</p>
<p>Location: {{meeting.location}}</p>
<p>Preferences: {{meeting.preferences}}</p>
<form action="/meeting/{{meeting._id}}" method="get">
    <button type="submit" class="btn btn-dark"> Details </button>
</form>
</div>
{% else %}
<p> There are no upcoming meetings </p>
{% endfor %}
</div>
<h1>Prior Meetings</h1>
<div id="body-box2">
{% for meeting in previousMeetings %}
<div class="meetups-container">
<p>Name : {{meeting.meetupName}}</p>
<p>Owner: {{meeting.owner}}</p>
<p>Location: {{meeting.location}}</p>
<p>Preferences: {{meeting.preferences}}</p>
<form  action="/meeting/{{meeting._id}}" method="get">
    <button type="submit" class="btn btn-dark"> Details </button>
</a>
</div>
{% else %}
<p> There are no prior meetups </p>
{% endfor %}
</div>
{% endblock %}
