{% extends 'base.html' %}
{% block body %}
<p>Future Meetings</p>
{% for meeting in futureMeetings %}
<div>
<br>
<p>Name : {{meeting.meetupName}}</p>
<p>Owner: {{meeting.owner}}</p>
<p>Location: {{meeting.location}}</p>
<p>Preferences: {{meeting.preferences}}</p>
<a href="/meeting/{{meeting._id}}">
    <button type="button" class="btn btn-dark"> Details </button>
</a>
<br>
</div>

{% else %}
<p> There are no upcomming meetings</p>
{% endfor %}
<p>Prior Meetings</p>
{% for meeting in previousMeetings %}
<div>
<br>
<p>Name : {{meeting.meetupName}}</p>
<p>Owner: {{meeting.owner}}</p>
<p>Location: {{meeting.location}}</p>
<p>Preferences: {{meeting.preferences}}</p>
<a href="/meeting/{{meeting._id}}">
    <button type="button" class="btn btn-dark"> Details </button>
</a>
<br>
</div>
{% else %}
<p> There are no prior meetups </p>
{% endfor %}
{% endblock %}
