{% extends "base.html" %}
{% block body %}
<div id="body-box">
    <div class="profile-container">
    <p>Username: {{username}}</p>
    <p>Location: {{location}}</p>
    <p>Email: {{email}}</p>
    <p>Preferences:</p>
    {% for item in preferences %}
    <p>{{item}}</p>
    {% else %}
    <p>No current preferences.</p>
    {% endfor %}
    {% if profileOwned %}
    <form action="/edit-profile/{{profileAddress}}" method="get">
        <button type="submit" class="btn btn-dark"> Edit Profile </button>
    </form>
    {% endif %}
    </div>
</div>
{% endblock %}
